
.carritoCarta-contenedor{
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.588);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    height: 150px;
    color: black;
}

.carritoCarta-imagen{
    width: 100px;
    height: 100px;
    border: solid;
    border-color: black;
}

