.carrito-contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    margin-top: 10px;
    
}

.carrito-titulos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    width: 100%;
}


.carta {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carta:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
