.carta-contenedor {
    border: solid;
    border-color: rgb(231, 139, 28);
    width: 30%;
    height: 100%;
    text-align: center;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta-imagen {
    height: 250px;
    width: 100%;
    object-fit: cover;

}

.carta-precio {
    font-optical-sizing: auto;

}

.carta-boton {
    padding: 10px 50px;
    color: whitesmoke;
    border-radius: 10px;
    border: thick;
    background-color: rgb(50, 176, 204);
    transition: all 400ms ease;
    cursor: pointer;
}

.carta-boton:hover {
    color: rgb(0, 179, 255);
    background-color: rgba(11, 100, 216, 0.268);
    transform: translateY(-3%);
}