.carta-contenedor {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.653) !important;
}

.carta-contenedor:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.carta-imagen {
    height: 250px;
    width: 100%;
    object-fit: cover;

}

.carta-precio {
    font-optical-sizing: auto;

}

.carta-boton {
    padding: 10px 50px;
    color: whitesmoke;
    border-radius: 10px;
    border: thick;
    background-color: rgb(50, 176, 204);
    transition: all 400ms ease;
    cursor: pointer;
}

.carta-boton:hover {
    color: rgb(0, 179, 255);
    background-color: rgba(11, 100, 216, 0.268);
    transform: translateY(-3%);
}